/* Global Styles */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.alert {
	margin-top: 10px;
}

#footer {
	border-top: 1px solid #dddddd;
	padding-top: 10px;
}

/* Groups Selector */
#group-selector {
	margin-top: 30px;
}

#group-selector select {
	
	margin: 0;
	width: 85%;
	background-color: #ffffff;
	border-style: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

/* Edit Student Page*/
.col-xs-2 {
		text-align: right;
}	

.form-control {
	margin-bottom: 10px;
}	

/* Form Styles */
textarea, select, input {
    max-width: 300px;
}

#submit-form {
	margin-top: 5px;
	margin-left: 210px;
}
